# Crash Couse in Phyton

# Functions

In [11]:
def double(x):
    """"
    Poner Consas en la función
    """
    return x*2

def apply_to_one (f):
    """"
    Poner Consas en la función
    """
    return f(1)

#Short anonymus functions
y = apply_to_one(lambda x: x + 4)

# Strings

In [34]:
multiple_string = """Pablo 
Pombo
Cruz"""

first_name = "Pablo"
last_name = "Pombo"

full_name1 = first_name + " " + last_name
full_name2 = "{0} {1}".format(first_name, last_name)
full_name3 = f"{first_name} {last_name}"

x = len(first_name)
print (x)

print (full_name1, full_name2, full_name3, multiple_string)

5
Pablo Pombo Pablo Pombo Pablo Pombo Pablo
Pombo
Cruz

# LISTS

In [67]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

first_three = x[:3]  #[1, 2, 3] 
three_to_end = x[3:] #[4, 5, 6, 7, 8, 9]
one_to_four = x[1:5] #[2, 3, 4, 5]
last_three = x[-3:]  #[7, 8, 9]
whithout_first_and_last = x[1:-1] #[2, 3, 4, 5, 6, 7, 8]
copy_0f_x = x[:]     #[1, 2, 3, 4, 5, 6, 7, 8, 9]

every_third = x[::3] #[1, 3, 4]

1 in x  #True
0 in x  #False

x.extend([10, 11, 12])
x.append(13)

y = x + [True, False, 'Pablo']

print (y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, True, False, 'Pablo']

 Sorting

In [147]:
x = [2, 3, 1, 4]
y = sorted(x) #a new list with all x alements sorted

x.sort() #x sorted

z = sorted(x,reverse=True)

[4, 3, 2, 1]

# Tuples

In [73]:
my_tuple = (1,2,3)
my_other_tuple = 1, 2, 3
other_one = "hi", "mom", 1, True

x, y, z = 5, 6, 7

# Directionaries

In [105]:
grades = {"Joel": [8,9,10,11]}

grades["Tim"] = 10
grades["Kate"] = 7

grades.get("Joel",0) 

x = grades.keys() #the names
y = grades.values() #the values
z = grades.items() #all items in the directionarie

"Joel" in grades  #True
"Jessica" in grades #False

grades["Joel"][0] #acces to the specific number you want

8

# IF / FOR

In [132]:
def llega(x,y):

    if x > y:
        y + 2
    elif x < y:
        x + 1
    else: 
        x + y
        
    return x, y

for x in range(10):
    print (x)

0
1
2
3
4
5
6
7
8
9