## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [7]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb

In [2]:
ser = pd.Series(np.random.randint(10, size=10, dtype='int'), name = "ma")

b. Extract data from IEX for Ford from the 1st of January 2015. The ticker you need is ‘F’.

In [3]:
ser

0    1
1    3
2    7
3    9
4    5
5    0
6    5
7    7
8    2
9    5
Name: ma, dtype: int32

In [14]:
F = wb.DataReader('F', data_source='yahoo', start='1995-1-1')

In [15]:
F

                 High        Low       Open      Close       Volume  Adj Close
Date
1995-01-03  10.264290   9.762480  10.218671  10.173051    5664298.0   4.380183
1995-01-04  10.446766  10.218671  10.218671  10.446766    7163124.0   4.498034
1995-01-05  10.583623  10.081813  10.538004  10.355528    9270247.0   4.458752
1995-01-06  10.538004  10.309909  10.401147  10.355528    4497845.0   4.458752
1995-01-09  10.583623  10.355528  10.401147  10.538004    6810201.0   4.537320
...               ...        ...        ...        ...          ...        ...
2021-03-17  12.700000  12.220000  12.340000  12.690000  108688100.0  12.690000
2021-03-18  13.010000  12.440000  12.700000  12.490000   76619600.0  12.490000
2021-03-19  12.950000  12.550000  12.850000  12.830000   89785500.0  12.830000
2021-03-22  12.930000  12.510000  12.850000  12.850000   81362100.0  12.850000
2021-03-23  12.680000  12.120000  12.570000  12.210000   72734600.0  12.210000

[6602 rows x 6 columns]