In [19]:
import numpy
import pandas
import random

In [6]:
a = numpy.random.random(5)

In [13]:
numpy.random.randint(1,6,(4,6))

array([[1, 4, 3, 1, 2, 5],
       [4, 2, 2, 4, 1, 3],
       [1, 2, 5, 2, 1, 3],
       [2, 1, 5, 2, 1, 4]])

In [36]:
pandas.Series(numpy.random.randint(10, size = 10, dtype='int'), name= "lala")

0    3
1    4
2    4
3    8
4    5
5    3
6    0
7    9
8    0
9    0
Name: lala, dtype: int32

In [41]:
b = numpy.random.randint (5, size = 5)

In [42]:
b

array([2, 1, 2, 1, 4])

1

In [63]:
import pandas
from pandas_datareader import data as wb

In [65]:
F = wb.DataReader('F', 'yahoo', start = '2018-9-1')

In [68]:
import pandas_datareader.data as web

from datetime import datetime

start = datetime(2016, 9, 1)

end = datetime(2018, 9, 1)

f = web.DataReader('F', 'yahoo', start, end)

f.loc['2018-08-31']

High         9.680000e+00
Low          9.400000e+00
Open         9.640000e+00
Close        9.480000e+00
Volume       7.642490e+07
Adj Close    8.586881e+00
Name: 2018-08-31 00:00:00, dtype: float64

             High    Low   Open  Close      Volume  Adj Close
Date
2016-09-01  12.72  12.35  12.66  12.44  40510400.0  10.009105
2016-09-02  12.57  12.46  12.53  12.50  21079800.0  10.057380
2016-09-06  12.67  12.43  12.49  12.67  36098900.0  10.194161
2016-09-07  12.75  12.62  12.62  12.70  22879100.0  10.218298
2016-09-08  12.75  12.50  12.50  12.73  34017900.0  10.242435
...           ...    ...    ...    ...         ...        ...
2018-08-27  10.04   9.73   9.75   9.99  49769300.0   9.048834
2018-08-28  10.09   9.95  10.08  10.01  33845500.0   9.066948
2018-08-29  10.02   9.90  10.01   9.97  37336400.0   9.030718
2018-08-30   9.91   9.67   9.87   9.70  48539300.0   8.786155
2018-08-31   9.68   9.40   9.64   9.48  76424900.0   8.586881

[504 rows x 6 columns]